<h1>Delayed jobs scheduled for <%= format_time(Time.at(@timestamp)) %></h1>

<p class='sub'>Showing <%= @start %> to <%= [@size, 20].min %> of <b><%= @size %></b> jobs</p>

<table class='jobs table table-bordered'>
  <tr>
    <th>Class</th>
    <th>Args</th>
  </tr>
  <% @jobs.each do |job| %>
    <tr>
      <td class='class'><%= job['class'] %></td>
      <td class='args'><%=h job['args'].inspect %></td>
    </tr>
  <% end %>
  <% if @jobs.empty? %>
    <tr>
      <td class='no-data' colspan='2'>There are no pending jobs scheduled for this time.</td>
    </tr>
  <% end %>
</table>

<%= render partial: 'next_more', locals: {:start => @start, :size => @size} %>

